

    
    
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <button type="button" style="background: #1C315F; border:none;"  routerLink="/dashboard" class="btn btn-primary btn-icon-text mb-2 mb-md-0">Back</button>
    </div>
</div>
  
<div class="row">
    <div class="col-md-12 stretch-card monthview">
        <div class="card">
        <div class="card-body">
            <!--<h6 class="card-title">Data Table</h6>-->
            <div class="table-responsive">
                <full-calendar #fc [options]="calendarOptions"></full-calendar>
            </div>
        </div>
        </div>
    </div>
</div>
  