.addressText{font-size:14px; font-weight: bold;float:left;}

.chart-wrapper {
  width: 370px;
  min-width: 370px;
  max-width: 370px;
  height: 250px;
  min-height: 250px;
  max-height: 250px;
  color: red;
  background-image: linear-gradient(to bottom right, white, white);
  background-attachment: fixed;
}




  /*
  i wish this required CSS was better documented :(
  https://github.com/FezVrasta/popper.js/issues/674
  derived from this CSS on this page: https://popper.js.org/tooltip-examples.html
  */



