
<!--<nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink=".">Pending Bookings</a></li>
      <li class="breadcrumb-item"><a routerLink="/dashboard">Back</a></li>
    </ol>
  </nav>-->
    
    
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center flex-wrap">
            <div>
              <h4 class="card-title mb-3 mb-md-0">List of all Website Pending Bookings</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <!--<h6 class="card-title">Data Table</h6>-->
          <div class="table-responsive">
            <table id="dataTableExample" class="table table-striped-new">
              <thead>
                <tr>
                  <th>Action</th>
                  <th>Full Name</th>
                  <th>Address</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Inspection Date/Time</th>
                  <th>Package Name</th>
                  <th>Package Price</th>
                  <th>Inspector Name</th>
                  <th>Square Footage</th>
                  <th>Payment Status</th>
                  <th>Agreement</th>
                  <th>Booking Type</th>
                  <th>Created At</th>
                  
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
